In [0]:
# #project 

# 1. print the total number of employees in the company
# 2. print the total number of department names in the company
# 3.print the department  names of the company
# 4 print the total numbet of emploees in the company
# 5 print the total numbet of emploees in each state
# 6 print the total numbers of employees in the each department
# 7 print the maximum and minimum number of salaries and sort them in ascending order
# 9 print the name of all employyes working in newyork under finanace departmen whose bonuses are greater than average bonus
# 9 raise the salary of all employees by $500 whose age is greater than 45 and save them in file

In [0]:
from pyspark.sql import SparkSession 
from pyspark.sql.functions import col,lit,udf
from pyspark.sql.types import IntegerType,DoubleType
from pyspark.sql.functions import sum,avg,max,min,mean,count
spark=SparkSession.builder.appName('Spark dataframe project').getOrCreate()

In [0]:
df=spark.read.options(header='True',inferSchema='True').csv('/FileStore/tables/OfficeDataProject.csv')

In [0]:
df.show()

In [0]:
# 1. print the total number of employees in the company
df.count()

In [0]:
# 2. print the total number of department in the company
df.select('department').dropDuplicates(['department']).count()
#this can be also done as
df.groupBy('department').count().show()

In [0]:
# 3.print the department  names of the company
df.select('department').dropDuplicates(['department']).show()

In [0]:
# 4 print the total numbet of emploees in the company
df.groupBy('department').count().show()

In [0]:
# 5 print the total numbet of emploees in each state
df.groupBy('state').count().show()

In [0]:
df.groupBy('state','department').count().show()

In [0]:
# 7 print the maximum and minimum number of salaries and sort them in ascending order
df.groupBy('department').agg(min('salary'),max('salary')).orderBy(col('min(salary)').asc()) .show()

In [0]:
# 9 print the name of all employyes working in newyork under finanace departmen whose bonuses are greater than average bonus
avg_bonus=df.filter(df.state=='NY').groupBy('state').agg(avg('bonus').alias('average_bonus')).select('average_bonus').collect()[0]['average_bonus']

In [0]:
df.filter((df.state=='NY')&(df.department=='Finance')&(df.bonus>avg_bonus)).show()

In [0]:
# 9 raise the salary of all employees by $500 whose age is greater than 45 and save them in file
def increment_sal(age,currentsalary):
  if age > 45:
    return currentsalary + 500
  return currentsalary


increse_salaryUDF = udf(lambda x,y :increment_sal(x,y), IntegerType())


df.withColumn('salary',increse_salaryUDF(col('age'),col('salary'))).show()