In [0]:
print('hello')

In [0]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('spark dataframe').getOrCreate()

In [0]:
df=spark.read.option('header',True).option('inferSchema',True).csv('/FileStore/tables/StudentData.csv')
df.show()

In [0]:
df.printSchema()

In [0]:
# df=spark.read.option('header',True).option('inferSchema',True).csv('/FileStore/tables/StudentData.csv')
# df.show()
# THE above code can also be written as


df1=spark.read.options(header='True',inferSchema='True').csv('/FileStore/tables/StudentData.csv')
df1.show()

In [0]:
#WE CAN ALSO CHANGE THE DTYPE OF THE SCHEMA USING SPARK
#CHANGING DTYPES IN SPARK CALLED AS PROVIDE SCHEMA

# LETS SEE HOW WE CAN CHANGE THE DTYPES IN SPARK USING SCHEMA


df1=spark.read.options(header='True').csv('/FileStore/tables/StudentData.csv')
df1.show()

from pyspark.sql.types import StructType, StructField, StringType,IntegerType

schema=StructType([
                    StructField('age',IntegerType(),True),
                     StructField('gender',StringType(),True),
                       StructField('name',StringType(),True),
                         StructField('roll',StringType(),True),
])
#this is how you can change the dtypes of the data in spark

In [0]:
df1=spark.read.options(header='True').schema(schema).csv('/FileStore/tables/StudentData.csv')

In [0]:
# How to create DATAFRAME from RDD

In [0]:
from pyspark import SparkConf,SparkContext
conf=SparkConf().setAppName('RDD')
sc=SparkContext.getOrCreate(conf=conf)

rdd=sc.textFile('/FileStore/tables/StudentData.csv')
headers=rdd.first()
rdd=rdd.filter(lambda x:x!=headers).map(lambda x :x.split(','))

In [0]:
# converting RDD to Dataframe

columns=headers.split(',')
dfrdd=rdd.toDF(columns)
dfrdd.show()
dfrdd.printSchema()

In [0]:
columns=headers.split(',')

In [0]:
# U can also change the dtype of the schema
dfrdd=spark.createDataFrame(rdd,schema=schema)
dfrdd.printSchema()

In [0]:
# selecting columns from dataframe

In [0]:
df.show()

In [0]:
# selecting columns from dataframe
df.select('name','age','gender').show()

# the above operation can also be achived by following code

df.select(df.name,df.email).show()

In [0]:
# the above operation can also be achived by following code

df.select(df.name,df.email).show()

In [0]:
#if you want to select the columns by sql col function you can do it

from pyspark.sql.functions import col
df.select(col('roll'),col('name')).show()

In [0]:
#to select all the columns from dataframe
df.select('*').show()

In [0]:
#to select all the columns inside the dataframe
df.columns
df.select('age', 'gender', 'name', 'course').show()

In [0]:
df.select(df.columns[1:4]).show()

In [0]:
df2=df.select(col('roll'))

In [0]:
# changing the datatype of single column
from pyspark.sql.functions import col
df.withColumn('roll',col('roll').cast('String')).show()

In [0]:
df.printSchema()

In [0]:
# Doing some changes inside the values of the dataframe

In [0]:
df=df.withColumn('marks',col('marks')+10)
df.show ()
#the above condition will execute number of times how many times u run it

In [0]:
#suppose you want to create a new column based on previous columns so it and also want to do some transformation on it so u can do it using following method

df=df.withColumn('new updated marks',col('marks')-10)
df.show()

In [0]:
# if you want to put any hardcoded value inside the colums u have to import lit 
# here we are creating a new column called country ans assigning the value USA to it

from pyspark.sql.functions import col, lit
df=df.withColumn('country',lit('usa'))

In [0]:
df.show()

In [0]:
#what you can do if you have to update multiple colummns
df=df.withColumn('marks',col('marks')-10).withColumn('updated marks',col('marks')+20).withColumn('State',lit( 'maharashtra'))

In [0]:
df.show()

In [0]:
# # how can you renamed the name of existing columns
# for that you can use a function called as "withColumnRenamed"
df=df.withColumnRenamed('gender','sex').withColumnRenamed('roll','Roll Number')
df.show()
# so here we converted the roll to roll number and gender with sex

In [0]:
#we can use filter operation on any column of dataframe 
#we can also select some specific values from the columns with some conditions
# -------> select all the courses where the course name is DB
df.filter(df.course=='DB').show()

#---------> This can be also  done as
df.filter(col('course')=='DB').show()

In [0]:
#now we see how we can apply single condition on the dataframe now we can see how we can apply multiple condtion on the dataframe
df.filter((df.course=='DB')| (df.marks>50)).show()

In [0]:
# using isin functionality to check wheather all condition are met inside the columns

courses=['DB','Cloud','OOP','DSA']
df.filter(df.course.isin(courses)).show()

In [0]:
#to check the column or any value starts with any perticular value or any string variable any number how we can change it


#---------->lets check the Name columns where the name of the student startswith  the letter 'k'

df.filter(df.course.startswith('D')).show()
df.filter(df.name.endswith('D')).show()

In [0]:
df.filter(df.email.startswith('D')).show()

In [0]:
#to check a column value contain a particular string on variable or number
df.filter(df.name.contains('le')).show()

#-------> this can be also done by
df.filter(df.name.like('%le%')).show()

In [0]:
# # Run the follwing quries and show the output 
# 1--->Read the file in the dataframe

# df1=spark.read.options(header='True',inferSchema='True').csv('/FileStore/tables/StudentData.csv')
# df1.show()

# 2---> create a new column in the df for the total marks and let fill with 120
# df1=df1.withColumn('total_marks',lit(120)).show()

# 3----> create a coloum named average and fill it with average marks
# df1=df1.withColumn('average_marks',col('marks')/col('total_marks')).show()



# 4-----> filter all the student who achieved more than 75% marks in oops
# df1.filter((df1.marks > 75) & ( df1.course == "OOP")).show()
 
# 5-----> filter out all the student who acheive more than 70% in cloud course         and save it in new dataframe
# df1.filter((df1.course ==' Cloud') & (df1.marks>70))

In [0]:
#count function is used to count the nummbers of data values inside the df

df.count()

In [0]:
#distint is used to calculate the non duplicate record inside the data it will avoid the all duplicated records

df.distinct()
df.distinct().count()

In [0]:
# # you can also distinct out the values inside the column using the distinct feature
# df.filter('gender').distinct()

In [0]:
# dropDuplicate is used to drop the duplicate values from the data it will just take first non duplicate rows in consideration

df.dropDuplicates
('gender','course')

In [0]:
# sorting of dataframe
# the we are sorting the values
# default is ascending
df.sort('marks','age').show()

In [0]:
#we can also orderby insted of sort
df.orderBy(df.marks,df.marks).show()

In [0]:
# we can also sort value asceding and descending order
df.sort(df.marks.asc(),df.age.desc()).show()

In [0]:
# #group by in dataframe
# in spark you cant just perform groupby operatiom you also need to do some kinf of aggregation operation on that if 'you perform only groupby you will get error'

df.groupby('sex').sum('marks').show()

In [0]:
df.groupby('sex').count().show()

In [0]:
df.groupby('course').count().show()

In [0]:
#we can also perforn some ooeration using the groupby
df.groupby('course').sum('marks').show()

In [0]:
df.groupby('sex').max('marks').show()
df.groupby('sex').min('marks').show()

In [0]:

df.groupby('age').avg('marks').show()

In [0]:
 df.groupby('sex').mean('marks').show()

In [0]:
#we can also create the groups on multiple columns
# which we can see now
df.groupBy('course','sex').count().show()

In [0]:
#when you are usinggroupny on multiple datacolumns then you want to perform operations like agg sum avg they how can you do that we can see it the steps below


#------->>>>for that you have to import aggregative function
from pyspark.sql.functions import sum, avg,min,max ,mean, count

#by importing above function you can apply multiple operations
df.groupBy('course').agg(count('*'),sum('marks'),min('marks'),max('marks'),avg('marks')).show()

In [0]:
 #if you say the above the name of newly created columns is so weird so we can change the name to the new names using alias
  
df.groupBy('course').agg(count('*').alias('total_enrollments'),sum('marks').alias('total_marks'),min('marks').alias('lowest_marks'),max('marks').alias('highest_marks'),avg('marks')).show()

In [0]:
 
df.groupBy('course','sex').agg(count('*').alias('total_enrollments'),sum('marks').alias('total_marks'),min('marks').alias('lowest_marks'),max('marks').alias('highest_marks'),avg('marks')).show()

In [0]:
df2=df.filter(df.course=='OOP')
df2.groupBy('course').agg(count('*')).show()

In [0]:
#find how many male student are enrolled for each coureses
df3=df.filter(df.sex=='Male')
df4=df3.groupBy('course','sex').agg(count('*').alias('total_enrollement'))

In [0]:
df4.show()

In [0]:
# we can also use where to filter out the specific condition 
df5=df4.where(df4.total_enrollement > 85).show()

In [0]:
# Quiz ------>

# read the file in the dataframe

# display the total number of student enrolled in each course
df.groupBy('course').count().show()
df.groupBy('course').agg(count('*')).show()
 

# display the total number of male and female student enrolled in each  course
dfx=df.groupBy('course','sex').agg(count('*')).alias('total_enrollement').show()



# display the minimum maximum marks acheived by students

# v

In [0]:
# display the total marks achived by gendet in each column
dfxx=df.groupBy('course','sex').agg(sum('marks')).alias('total_marks').show()

In [0]:
df.groupBy('course','age').agg(min('marks'),max('marks')).show()

In [0]:
# # you can also used groupby for counting the word count 
# suppose i have a file called text and i have to count the word count inside a column so i can apply the groupby and calculate the wordcount



# df.groupby('column name').agg(count('*')).show()

In [0]:
#now we can see how to use spark sql
df.createOrReplaceTempView('student')

In [0]:
df=spark.sql('select * from student').show()

In [0]:
#  the most of the functionality are same in the sql and df
# # ----> in case of spark
# spark.sql('select course from student where age < 20')


# # the above code is written in spark can also be  written in form of dataframe as 

# df.select('course').filter('age'<20).show()

In [0]:
spark.sql('select course, sex,sum(marks) from student group by course ,sex').show()

In [0]:
# we can read the data from memory but we can also write or store the data back inside the memory following commands are used to read and write inside the memory

# for reading purpose

# df=spark.read.options(header='True',inferSchema='True').csv('the location of file path from where you want to read')


# for writng purpose

# df=spark.write.options(header='True').csv('the location of file path from where you want to store the data ie( 'Filestore/tables/studentdata/output ')')

In [0]:
#project 

1. print the total number of employees in the company
2. print the total number of department names in the company
3.print the department  names of the company
4 print the total numbet of emploees in the company
5 print the total numbet of emploees in each state
6 print the total numbers of employees in the each department
7 print the maximum and minimum number of salaries and sort them in ascending order
9 print the name of all employyes working in newyork under finanace departmen whose bonuses are greater than average bonus
9 raise the salary of all employees whose age is greater than 45 and save them in file