In [0]:
 print('hellow spark')

In [0]:
from pyspark.sql import SparkSession 
from pyspark.sql.functions import col,lit,udf
from pyspark.sql.types import IntegerType,DoubleType
from pyspark.sql.functions import sum,avg,max,min,mean,count
spark=SparkSession.builder.appName('Spark dataframe').getOrCreate()

In [0]:
df=spark.read.options(header='True',inferSchema='True').csv('/FileStore/tables/OfficeData.csv')

In [0]:
df.show()

In [0]:
df.groupBy('department').sum().show()

In [0]:
# you can use multiple aggregate function like min ,max, sum, average,using aggregate function
df.groupBy('department').agg(sum('salary'),min('salary'),mean('bonus')).show()

In [0]:
df.groupBy('department','salary').agg(sum('salary'),min('salary'),mean('bonus')).show()

In [0]:
# combining groupby and filtering 
# df2=df.filter(df.gender=='male').count().show()

In [0]:
# # #let us what are the user defined datatypes also called as udf
# #  we will see how udf works in this code snippet
# you have to create a basic python function and you can pass that function to the udf and you can use that function to perform operation you want to perform


# --------> in this column you have to create a new column called total_salary_udf and you have to add the salary and bonus column and print the output inside the new column



def get_total_salary(salary,bonus):
  return salary + bonus+ 122

total_salaryUDF=udf(lambda x,y : get_total_salary(x,y),IntegerType())

df.withColumn('total_salary',total_salaryUDF(df.salary,df.bonus)).show()

In [0]:
# quiz 
# create a new column  called increment 
# if the employee is in 'NY' state increment his salary by 10% and bonus will be 5%
# if the employee is in the 'CA' state increment his salary wiith 12 % and bonus with 3% 


def increment(state,salary ,bonus):
  if state=='NY':
    sum=salary*0.10
    sum+=bonus*0.05
  elif state=='CA':
    sum=salary*0.12
    sum+=bonus*0.03
  return sum


increseUDF=udf(lambda x,y,z:increment(x,y,z),DoubleType())

df.withColumn('incrementbycity ',increseUDF(df.state,df.salary,df.bonus)).show()

In [0]:
# # cache and persist

# # now we can see how cache and persist works

# spark is lazy evaluator when we perform any action it will do all the computation from start instead of it we can use cache to speed up our actions

In [0]:
# #convert the dataframe to RDD
# rdd=df.rdd
# type(rdd)
# rdd.filter(lambda x :x[0]==28).collect()